<!doctype html>
<html lang="en">
<head>
    <title>API request result</title>
</head>
<body>
    <div style="width:800px;margin: 0px auto;">
        <h3 class="display-4">Welcome</h3>
        <p>Data retrieved from Web API: @Model</p>
    </div>
</body>
</html>